/*--general formating--*/
@import "standard/general.css";
/*--header--*/
@import "standard/header.css";
/*-- navigation--*/
@import "standard/nav.css";
/*-- footer --*/
@import "standard/footer.css";
/*- mobile general--*/
@import "standard/mobilestandard.css";

/*--- site grid set-up ---*/

@media only screen and (min-width: 999px){/*-- desktop query--*/
.wrapper{
	display: grid;
	grid-template-columns:  500px 1fr;
	grid-template-rows: auto;
	grid-template-areas:
		"header header"
		"search search"
        "tab tab"
		"maincontent maincontent"
		"footer footer";	
}

header{
	grid-area: header;
}

.search{
	grid-area: search;
	background-image: url('image/search.jpg');
    padding-top: 20px;
    max-height:500px;
}

.maincontent{
    grid-area: maincontent;
    display: grid;
    grid-template-columns: 500px 1fr;
    grid-template-rows: min-content;
    grid-template-areas: "aside content1";
    height: 600px;
    overflow-y: scroll;
}

.aside{
	grid-area: aside;
	color: #4B382A; /* brown */
	background-color: #DFFCBD; /* light green */
	padding: 50px;
    overflow: hidden;
    position: absolute;
    width: 400px;
    padding-top:0;

}

.tab{
    grid-area:tab;
    text-align: right;
    background-color: #7EC344;
}

.tab img{
    display:inline !important;
}

.content1{
	grid-area: content1;
	color: #7EC344; /*green */
	background-color:  #4B382A; /* brown */
	min-height: 500px;
	padding: 50px;

}

.content1 h2{
    color:#7EC344;
}




} /*-- end of media query--*/

/* Extra add entry styling */

.add-entry{
    margin:30px;
    text-align: block;
}

.add-field{
    outline: 0;
    width: 80%;
    height: 40px;
    font-size: 18px;
    padding: auto;
    display: block;
    margin-bottom:10px;
    font-family: 'Sawarabi Gothic', sans-serif;
    color: #4B382A !important; 

}

.desc{
    height:200px;
}

.add-entry select{
    width: max-content;
    display: block;
    font-size: 20px;
    color: #4B382A !important; 
    font-family: 'Sawarabi Gothic', sans-serif;

}

.add-entry .advanced-button{
    background-color:#DFFCBD;/*light green*/
    color:#4B382A;/*brown*/
    width:150px;
}

/*-- placeholder styling text from https://optinmonster.com/docs/how-to-stylize-your-placeholder-text/ --*/

::-webkit-input-placeholder { 
    font-size: 20px;
    color: #4B382A !important; 
    font-family: 'Sawarabi Gothic', sans-serif;
    } 

/*-- results --*/
.results {
    background-color:#DFFCBD; /* light green*/
    color:#4B382A;/* Brown */
    padding:20px;
    margin:20px;
}

.error{
    color:rgb(142, 69, 58);
    border: 2px solid red;
}

.sub_heading {
    font-weight: bold;
    color:#4B382A;/* brown */
    margin-right: 20px;
}

.flex-container{
    display:flex;
    flex-wrap:nowrap;
}

/*-- Check In fonts --*/
.checkin{
    color:green;
}
.checkout{
    color:red;
}

/** search formating-**/

.searchbox{
    width: 100%;
    height: 100%;
    font-size: 80px;
    border: 0;
    outline:none;
}

.basicsearch{
    z-index: 10;
    width: 75%;
    position: absolute;
    top: 450px;
    height: 150px;
    left: 10%;
    display: inline;
}

input{
    height:inherit;
    display:inline-block;
    box-sizing: border-box;
    width:20px;
    color:#4B382A;/*brown*/
}

.basicsearch input[type="submit"] {
    position: inherit;
    background-color: white;
    border: 0px;
    outline: none;
    width: 10%;
    font-size: 600%;
    color:#4B382A;/*brown*/
}

/*-- advanced search formating --*/

.advanced-frame{
    background-color:#7EC344;/*--darkgreen--*/
    height: 200x;
    padding:20px;
}

.advanced-button{
    border:0;
    background-color:#4B382A;
    outline: 0;
    margin:auto;
    font-size: 155%;
    width: 95%;
    color:#7EC344;
    display: inline;
    border-radius: 25px;
}

.adv{
    width: 95%;
    margin-bottom: 10px;
    height: 40px;
    outline: 0;
    border: 0;
    padding: 5px;
    font-size: 17px;
}

.basicsearch input[type="submit"]:hover {
    color:#7EC344/*green*/
}


@media only screen and (max-width: 999px){
.wrapper{
	display: grid;
	grid-template-columns: 600px;
	grid-template-rows: auto;
	grid-template-areas:
		"mobileheader mobileheader"
		"search search"
        "tab tab"
		"aside aside"
        "content1 content1"
		"mobilefooter mobilefooter";	
}

.search{
    grid-area: search;
    height:20%;
}

.aside{
    grid-area: aside;
    height:10%;
    align-content: center;
}

.content1{
    grid-area: content1;
    color: #7EC344; /*green */
	background-color:  #4B382A; /* brown */
}

.tab{
    grid-area:tab;
    text-align: right;
    background-color: #7EC344;
}
}/*-- end of media query--*/


