/*--general formating--*/
@import "standard/general.css";
/*--header--*/
@import "standard/header.css";
/*-- navigation--*/
@import "standard/nav.css";
/*-- footer --*/
@import "standard/footer.css";
/*- mobile general--*/
@import "standard/mobilestandard.css";

/*--- site grid set-up ---*/

@media only screen and (min-width: 999px){/*-- desktop query--*/
.wrapper{
	display: grid;
	grid-template-columns:  400px 1fr;
	grid-template-rows: auto;
	grid-template-areas:
		"header header"
		"search search"
        "tab tab"
		"maincontent maincontent"
		"footer footer";	
}

header{
	grid-area: header;
}

.search{
	grid-area: search;
	background-image: url('image/search.jpg');
    padding-top: 20px;
    max-height:500px;
}

.maincontent{
    grid-area: maincontent;
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-template-rows: min-content;
    grid-template-areas: "aside content1";
    height: 600px;
    overflow-y: scroll;
}

.aside{
	grid-area: aside;
	color: #4B382A; /* brown */
	background-color: #DFFCBD; /* light green */
	padding: 50px;
}

.tab{
    grid-area:tab;
    text-align: right;
    background-color: #7EC344;
}

.tab img{
    display:inline !important;
}

.content1{
	grid-area: content1;
	color: #7EC344; /*green */
	background-color:  #4B382A; /* brown */
	min-height: 400px;
	padding: 50px;
    overflow: auto;
    -ms-overflow-style: none;

}

.content1 h2{
    color:#7EC344;
}

/***-- modal box based of off W3schools--***/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 101; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    display: grid;
 	grid-template-columns:  200px 1fr;
	grid-template-rows: min-content;
	grid-template-areas:
		"modalheader modalheader"
		"modalaside modalmain";
    width:60%;
    height:50%;
}

.modalheader{
    grid-area: modalheader;
    background-color:#7EC344 /*--- Green--*/
}

.modalaside{
    grid-area: modalaside;
    background-color:#DFFCBD /*--- Light Green--*/
}

.modalmain{
    grid-area: modalmain;
    background-color:#4B382A /*--- Green--*/
}

/* The Close Button */
.close {
  color: #4B382A; /*BROWN*/
  float: right;
  font-size: 28px;
  font-weight: bold;
  padding:5px;
}

.close:hover,
.close:focus {
  color: rgb(130, 95, 71); /*lighter version BROWN*/
  text-decoration: none;
  cursor: pointer;
}
} /*-- end of media query--*/

/*-- results --*/
.results {
    background-color:#DFFCBD; /* light green*/
    color:#4B382A;/* Brown */
    padding:20px;
    margin:20px;
}

.error{
    color:rgb(142, 69, 58);
    border: 2px solid red;
}

.sub_heading {
    font-weight: bold;
    color:#4B382A;/* brown */
    margin-right: 20px;
}

.flex-container{
    display:flex;
    flex-wrap:nowrap;
}

/*-- Check In fonts --*/
.checkin{
    color:green;
}
.checkout{
    color:red;
}

/** search formating-**/
.searchform{
    z-index: 10;
    width: 75%;
    position: absolute;
    top: 450px;
    height: 150px;
    left: 10%;
    display: inline;
}

.searchbox{
    width: 100%;
    height: 100%;
    font-size: 80px;
    border: 0;
    outline:none;
}

input{
    height:inherit;
    display:inline-block;
    box-sizing: border-box;
    width:20px;
    color:#4B382A;/*brown*/
}
input[type="submit"] {
    position: inherit;
    background-color: white;
    border: 0px;
    outline: none;
    width: 10%;
    font-size: 600%;
    color:#4B382A;/*brown*/
}

input[type="submit"]:hover {
    color:#7EC344/*green*/
}


@media only screen and (max-width: 999px){
.wrapper{
	display: grid;
	grid-template-columns: 600px;
	grid-template-rows: auto;
	grid-template-areas:
		"mobileheader mobileheader"
		"search search"
		"aside aside"
        "content1 content1"
		"mobilefooter mobilefooter";	
}

.search{
    grid-area: search;
    height:20%;
}

.aside{
    grid-area: aside;
    height:10%;
}

.content1{
    grid-area: content1;
    color: #7EC344; /*green */
	background-color:  #4B382A; /* brown */
}
}/*-- end of media query--*/
